* text=auto

*.c text eol=lf
*.h text eol=lf
*.md text eol=lf
*.py text eol=lf
*.html text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.csv text eol=lf
*.lock text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
